[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
drf-nested-routers = "*"
django-cors-headers = "*"
django-filter = "*"
requests = "*"
bcrypt = "*"
channels = "*"
daphne = "*"
twilio = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"

[requires]
python_version = "3.12"
